<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
			<!--The following rules are here because many WP7 video client apps from Wincoder use the YTParser and request it like: searchler.com/YTParser.htm/Larry%20WP7-->
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^YTParser.htm(/.*)" ignoreCase="false" />
                    <action type="Redirect" url="/YTParser.htm" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^YTParser.htm([^/]*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="app=(.*)" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="/YTParser.htm/{C:1}?" appendQueryString="false" redirectType="Permanent" />
                </rule>
			<!--Here we build a redirect API that works off of Yahoo Pipes-->
				<rule name="VideosByArtist" stopProcessing="true">
                    <match url="api/VideosByArtist" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="ArtistId=." ignoreCase="false" />
                    </conditions>
					<!--Alternate 7f3ed165b03f795ade24038d31a9f3df-->
                    <action type="Redirect" url="http://pipes.yahoo.com/pipes/pipe.run?_id=67e73ade3f78a445919effc903daabb8&amp;_render=json" redirectType="Found" />
                </rule>
				<rule name="VideosBySimilarArtists" stopProcessing="true">
                    <match url="api/VideosBySimilarArtists" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="ArtistId=." ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://pipes.yahoo.com/pipes/pipe.run?_id=3bf3a945a3fcbabb02382f6307055009&amp;_render=json" redirectType="Found" />
                </rule>
				<rule name="VideosByAlbum" stopProcessing="true">
                    <match url="api/VideosByAlbum" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="ArtistName=.*?&amp;AlbumId=." ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://pipes.yahoo.com/pipes/pipe.run?_id=e21c6436e92c80b9619139da6b53ee18&amp;_render=json" redirectType="Found" />
                </rule>
				<rule name="GetImage" stopProcessing="true">
                    <match url="api/GetImage" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="Query=." ignoreCase="false" />
                    </conditions>
					<!--Alternate: f93006daec2fe047bebf7ecf939bab1a-->
                    <action type="Redirect" url="http://pipes.yahoo.com/pipes/pipe.run?&amp;_id=1257534bdf88673c4fc7507bcdc37a58&amp;_render=json" redirectType="Found" />
                </rule>
<!--				
				<rule name="Releases" stopProcessing="true">
                    <match url="api/Releases" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="Mbid=." ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://pipes.yahoo.com/pipes/pipe.run?&amp;_id=a66d7731aa2b37ab9221f92170540b39&amp;_render=json" redirectType="Found" />
                </rule>
				<rule name="ArtistDisambiguation" stopProcessing="true">
                    <match url="api/ArtistDisambiguation" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="Artist=." ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://pipes.yahoo.com/pipes/pipe.run?&amp;_id=db7c21477d78c68db042dd7073ff76b9&amp;_render=json" redirectType="Found" />
                </rule>
-->
				<rule name="SimilarArtists" stopProcessing="true">
                    <match url="api/SimilarArtists" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="Artist=." ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://pipes.yahoo.com/pipes/pipe.run?&amp;_id=a1d63e15b4cec66f2e6442b08d7748c3&amp;_render=json" redirectType="Found" />
                </rule>
				<rule name="ArtistsByTag" stopProcessing="true">
                    <match url="api/ArtistsByTag" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="Tag=." ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://pipes.yahoo.com/pipes/pipe.run?&amp;_id=07a8b670abba9318048eb8c907e485eb&amp;_render=json" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
	  <!--This is required to serve up files without extension in /JustaFan etc.-->
	  <staticContent>
		<mimeMap fileExtension="." mimeType="text/plain" />
	</staticContent>
    </system.webServer>
</configuration>